.footer {
    background-color: #ccc;
    margin: 0;
    padding: 10px;
    line-height: 10px;
    text-align: center;
}

.footer__email {
    color: black;
    text-decoration: none;
}

.footer__email:hover {
    font-weight: bold;
}